# 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

* , - , / , + : these are expressions.

'hello' , -87.8, 6 : these are values.

# 2. What is the difference between string and variable?

String is a type of information you would store in a Variable. String is usually words enclosed with single or double quotes.

Variable is a store of information.

x = "Vasanth", where x is the Variable, and we declared it as a String.

# 3. Describe three different data types.

Numeric data type :  This holds numeric values. Integer, float and complex data types fall under Numeric data types. Int - holds signed integers of non-limited length, float - holds floating decimal points and it's accurate up to 15 decimal places and complex - holds complex numbers.

String data type : String is a sequence of characters represented by either single or double quotes. ex : x = 'vasanth'

List data type : List is an ordered collection of similar or different types of items separated by commas and enclosed within brackets []. ex : lang = ["C", "IDL", "Java", "Python"]

# 4. What is an expression made up of? What do all expressions do?

An expression is made up of operators and operands that is interpreted to produce some other value.
Expressions represents the value as per the preference of its operators. For example:

In [2]:
a = 2 + 5 * 9

In [3]:
print(a)

47

# 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

 If you can print it, or assign it to a variable, it’s an expression. If you can’t, it’s a statement.

# 6. After running the following code, what does the variable bacon contain?

In [4]:
bacon = 22
bacon + 1

23

In [6]:
print(bacon)

22

The bacon variable contains 22. The bacon + 1 expression does not reassign the value in bacon.

# 7. What should the values of the following two terms be?

In [7]:
'spam'+'spamsapm'

'spamspamsapm'

In [8]:
'spam'*3

'spamspamspam'

Both will be the same.

# 8. Why is eggs a valid variable name while 100 is invalid?

Because we can't begin a variable name with a integer.

# 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

The int(), float(), and str() functions will fix the value to the integer, floating-point number, and string.

# 10. Why does this expression cause an error? How can you fix it?

In [9]:
'I have eaten' + 99 + 'burritos'

TypeError: ignored

This expression causes an error because 99 is an integer and other values are string. we can't concatenate integer with string.
We can fix it by enclosing it with quotes like this '99', then we can concatenate string.

In [10]:
'I have eaten' + ' 99 ' + 'burritos'

'I have eaten 99 burritos'